In [2]:
import pandas as pd
df1 = pd.read_csv("./Resources/country_vaccinations_by_manufacturer.csv")
df1

      location        date             vaccine  total_vaccinations
0      Austria  2021-01-08     Johnson&Johnson                   0
1      Austria  2021-01-08             Moderna                   0
2      Austria  2021-01-08  Oxford/AstraZeneca                   0
3      Austria  2021-01-08     Pfizer/BioNTech               31020
4      Austria  2021-01-15     Johnson&Johnson                   0
...        ...         ...                 ...                 ...
10960  Uruguay  2021-08-07     Pfizer/BioNTech             1562360
10961  Uruguay  2021-08-07             Sinovac             3234519
10962  Uruguay  2021-08-08  Oxford/AstraZeneca               84121
10963  Uruguay  2021-08-08     Pfizer/BioNTech             1562430
10964  Uruguay  2021-08-08             Sinovac             3234526

[10965 rows x 4 columns]

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10965 entries, 0 to 10964
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            10965 non-null  object
 1   date                10965 non-null  object
 2   vaccine             10965 non-null  object
 3   total_vaccinations  10965 non-null  int64
dtypes: int64(1), object(3)
memory usage: 342.8+ KB