In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
cases_per_location = pd.read_csv("./Resources/total_cases_per_location.csv")
cases_per_location.head()

,index,location,total_cases,total_deaths,people_fully_vaccinated,population
0,0,Afghanistan,152448.0,7054.0,219159.0,3.892834e+07
1,1,Africa,7507801.0,189151.0,32783791.0,1.340598e+09
2,2,Albania,139324.0,2478.0,575342.0,2.877800e+06
3,3,Algeria,191583.0,5004.0,724812.0,4.385104e+07
4,4,Andorra,14988.0,129.0,40616.0,7.726500e+04

In [22]:
percentage_total = (cases_per_location['total_cases']/cases_per_location['population'])*100
percentage_total

0       0.391612
1       0.560034
2       4.841337
3       0.436895
4      19.398175
         ...
228     0.000000
229     2.717747
230     0.025176
231     1.112650
232     0.825221
Length: 233, dtype: float64

In [23]:
percentage_deaths = (cases_per_location['total_deaths']/cases_per_location['population'])*100
percentage_deaths

0      0.018120
1      0.014109
2      0.086107
3      0.011411
4      0.166958
         ...
228    0.000000
229    0.056852
230    0.004754
231    0.019441
232    0.028588
Length: 233, dtype: float64

In [24]:
percentage_vaccinated = (cases_per_location['people_fully_vaccinated']/cases_per_location['population'])*100
percentage_vaccinated

0       0.562981
1       2.445460
2      19.992425
3       1.652896
4      52.567139
         ...
228    41.908234
229    24.486983
230     0.044666
231     1.300873
232     9.830379
Length: 233, dtype: float64

In [25]:
country = cases_per_location['location']

In [20]:
percentage_df = pd.DataFrame(columns = ['country',
                             'percentage_total',
                             'percentage_deaths',
                             'percentage_vaccinated'])

Empty DataFrame
Columns: [country, percentage_total, percentage_deaths, percentage_vaccinated]
Index: []

In [27]:
percentage_df['country'] = country
percentage_df['percentage_total'] = percentage_total
percentage_deaths['percentage_deaths'] = percentage_deaths
percentage_df['percentage_vaccinated'] = percentage_vaccinated
percentage_df

,country,percentage_total,percentage_deaths,percentage_vaccinated,percentange_vaccinated
0,Afghanistan,0.391612,NaN,0.562981,0.562981
1,Africa,0.560034,NaN,2.445460,2.445460
2,Albania,4.841337,NaN,19.992425,19.992425
3,Algeria,0.436895,NaN,1.652896,1.652896
4,Andorra,19.398175,NaN,52.567139,52.567139
...,...,...,...,...,...
228,Wallis and Futuna,0.000000,NaN,41.908234,41.908234
229,World,2.717747,NaN,24.486983,24.486983
230,Yemen,0.025176,NaN,0.044666,0.044666
231,Zambia,1.112650,NaN,1.300873,1.300873
232,Zimbabwe,0.825221,NaN,9.830379,9.830379